.mainbg {
    position: relative;
    /* background: url('bg.jpg') center no-repeat !important; */
    background-size: cover;
    /* width: 100%; */
    /* background-image: url('https://image.shutterstock.com/image-illustration/3d-illustration-brain-human-life-260nw-1447219193.jpg'); */
    background-size: cover;
    height: 100vh;
}